  body {
    background-color: gray;
  }
  header {
    background-image: 
    url("http://upload.wikimedia.org/wikipedia/commons/2/2f/Pano_from_Aiguille_du_Midi_03.jpg");
    background-size: cover;
    text-align: center;
  }

  * {
    color: white;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  }
  p {
    color: green;
    font-family: "Courier", sans-serif;
    font-size: 36px;
    text-align: center;
  }
  
  p a {
    border: 2px solid #ffffff;
    padding: 10px;
    text-align: center;
  }
  header li {
    display: inline;
    text-align: center;
    padding: 0px 10px 0px 10px;
  }
  li {
    display: block;
    text-align: justify;
    
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
  }
  img {
    float: left;
    border: 7px solid white;
    border-radius: 20px;
  }

  @media(max-width: 400px) {
    li {
      display: block;
    }
  }
  
