  body {
    background-color: black;
  }
  header {
    background-image: 
    url("http://upload.wikimedia.org/wikipedia/commons/2/2f/Pano_from_Aiguille_du_Midi_03.jpg");
    background-size: cover;
    text-align: center;
    padding: 0px 0px 200px 0px;
  }

  * {
    color: white;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  }
    p {
  color: green;
  font-family: "Courier", sans-serif;
  font-size: 36px;
  text-align: center;
  }
  .jumbotron {
    padding: 60px;
    background-image: 
    url("http://upload.wikimedia.org/wikipedia/commons/2/2f/Pano_from_Aiguille_du_Midi_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  p a {
    border: 2px solid #ffffff;
    padding: 10px;
    text-align: center;
  }
  li {
    display: inline;
    text-align: center;
    padding: 0px 10px 0px 10px;
  }
  ul {
    padding: 10px;
    background: gray;
  }
  img {
  position: relative;
  left: 100px;
  border: 7px solid white;
  border-radius: 20px;
  }
  input {
    display: block;
    border: 5px;
    padding: 10px;
  }
  input[type="submit"] {
    background: red;
  }
  
