  body {
    background-color: white;
    color: black;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  }
  header {
    background-image: 
    url("http://upload.wikimedia.org/wikipedia/commons/2/2f/Pano_from_Aiguille_du_Midi_03.jpg");
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: 'Lobster', cursive;
    padding: 10px 0 0 0;
  }
  header li {
    display: inline;
    text-align: center;
    padding: 0px 20px 0px 20px;
    font-size: 28px;
    color: white;
  }
  p {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
  }
  a {
    color: white;
  }
  li {
    display: inline;
    text-align: left;
    line-height: 28px;
    padding: 10px;
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
    color: white;
  }
  img {
    float: left;
    border-radius: 20px;
    margin: 0 35px 0 35px;
  }
  .contact {
    margin: auto;
    margin-bottom: 50px;
  }
  .contact a {
    color: blue;
  }
  .about {
    text-align: center;
  }
  .about h2 {
    font-size: 24px;
  }
  .about p {
    font-size: 18px;
    font-family: helvetica, sans-serif;
    margin: 0 35px 0 0;
    line-height: 24px;
  }
  footer {
    background: silver;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
  }
  footer a {
    color: blue;
  }

  @media(max-width: 500px) {
    li {
      display: block;
    }
    header {
      font-size: 20px;
    }
    header li {
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }
    .about p {
      font-size: 12px;
    }
    .about h2 {
      font-size: 18px;
    }
    li {
      line-height: 0;
    }
    footer {
      padding: 0;
    }
  }
